#commodityAddRow{
    height: 35px;
    width: 1200px;
}

#commodityAddCol{
    height: 35px;
}

#commodityAddText {
    position: relative;
    top: 5px;
    left: 25px;
}

#commodityAddInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#commodityAddButtonText{
    margin: 0 auto; 
    text-align: center;
}

#commodityAddFinishAddButton{
    top: 5px;
}