#commodityModifyRow{
    height: 35px;
    width: 1200px;
}

#commodityModifyCol{
    height: 35px;
}

#commodityModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#commodityModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#commodityModifyButtonText{
    margin: 0 auto; 
    text-align: center;
}

#commodityModifyFinishModifyButton{
    top: 5px;
}