#messageModifyRow{
    height: 35px;
    width: 1200px;
}

#messageModifyCol{
    height: 35px;
}

#messageModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#messageModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#messageModifyRemindText{
    position: relative;
    left: 10px;
}

#messageModifyButtonText{
    margin: 0 auto; 
    text-align: center;
}

#messageModifyFinishModifyButton{
    top: 5px;
}