#orderStatisticsRow{
    height: 35px;
    width: 1200px;
}

#orderStatisticsCol{
    height: 35px;
}

#orderStatisticsText {
    position: relative;
    top: 5px;
    left: 25px;
}

#orderStatisticsInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#orderStatisticsButtonText{
    margin: 0 auto; 
    text-align: center;
}

#orderStatisticsFinishStatisticsButton{
    top: 5px;
}