#orderModifyRow{
    height: 35px;
    width: 1200px;
}

#orderModifyCol{
    height: 35px;
}

#orderModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#orderModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#orderModifyButtonText{
    margin: 0 auto; 
    text-align: center;
}

#orderModifyFinishModifyButton{
    top: 5px;
}