#shopModifyRow{
    height: 35px;
    width: 1200px;
}

#shopModifyCol{
    height: 35px;
}

#shopModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#shopModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#shopModifyRemindText{
    position: relative;
    left: 10px;
}

#shopModifyButtonText{
    margin: 0 auto; 
    text-align: center;

    
}

#shopModifyFinishModifyButton{
    top: 5px;
}