/*loginDiv*/
#loginDiv {
    margin: auto;
    text-align: center;
    padding-top: 150px; 
  
    width: 500px;
    height: 400px;
  }
  
  #loginRow{
    margin: auto;
    text-align: center;
  
    width: 450px;
    height: 35px;
  }
  
  #loginCol {
    text-align: left;
  
    height: 35px;
  }
  
  #loginText {
    position: relative;
    top: 5px;
    left: 25px;
  }
  
  
  #finishLoginButton{
    left: 30px;
  
    width: 400px;
  }