#tagChooseInputRow{
    
    height: 45px;
    
}

#tagChooseButtonRow{
    
    height: 35px;
    
}

#tagChooseTagRow{
    
    height: 70px;
}

#tagChooseButtonCol{
    height: 35px;
}

#tagChooseText{
    height: 50px;
}