#accountAddRow{
    height: 35px;
    width: 1200px;
}

#accountAddCol{
    height: 35px;
}

#accountAddText {
    position: relative;
    top: 5px;
    left: 25px;
}

#accountAddInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#accountAddRemindText{
    position: relative;
    left: 10px;
}

#accountAddButtonText{
    margin: 0 auto; 
    text-align: center;
}

#accountAddFinishAccountAddButton{
    top: 5px;
}