#accountModifyRow{
    height: 35px;
    width: 1200px;
}

#accountModifyCol{
    height: 35px;
}

#accountModifyText {
    position: relative;
    top: 5px;
    left: 25px;
}

#accountModifyInfoText{
    position: relative;
    top: 6px;
    left: 11px;
}

#accountModifyRemindText{
    position: relative;
    left: 10px;
}

#accountModifyButtonText{
    margin: 0 auto; 
    text-align: center;

    
}

#accountModifyFinishModifyButton{
    top: 5px;
}